body {
    background-color: lightblue;
}
h1 {
    font-size: 100px;
    text-align: center;
    text-decoration-color: yellow;
    color: lightskyblue;

}#pscore {
    color: red;
    font-size: 30px;
    align-content: space-around;
}
canvas {
 border: thick solid black;
 background:lightsalmon;   
 background-image: url("../img/wooden-floor.jpg");
}
.imageWater {
    background-image: url("https://images.freeimages.com/images/large-previews/e91/water-1562529.jpg");
}
.intro-page {
    background-image: url("../img/water-intro.jpg");    
}
.button {
    font-size: 70px;
    margin-left: 900px;
    padding: 60px;
}
.menu-button {
    position: absolute;
    right: 10px;
    top: 5px;
}
.introduction {
    color: lightblue;
    font-size: 70px;
    margin-right: 50px;
}
.intro-text {
    color: lightblue;
    font-size: 30px; 
}